section {
  padding: 60px 20px;
  background-color: #000000;
}

#home {
  background-color: #000000;
  color: white;
  text-align: center;
}

#about, #services, #contact {
  background-color: #000000;
  color: #ffffff;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}